.form__button_el_close{
    position: absolute;
    top: -40px;
    right: -40px;

    width: 32px;
    height: 32px;

    transition: opacity 0.3s linear;
    background-image: url("../../../../images/close-button.png");
    background-size: cover;
    background-color: transparent;

}

.form__button_el_close:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:450px){
    .form__button_el_close{
        width: 20px;
        height: 20px;

        top: -32px;
        right: 0px;
    }
}