.elements{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;

    font-family: "Inter", Arial, sans-serif;
    font-size: 0;
    color:#000000;
}