.profile__info{
    display: grid;
    row-gap:10px;
    column-gap:18px;
    grid-template-areas: "username button"
                        "description description";
}
@media screen and (max-width:710px){
    .profile__info{
       text-align: center;
    }
}
@media screen and (min-width:320px) and (max-width:450px){
    .profile__info{
        row-gap:8px;
        column-gap:10px;
    }
}